#header
{
    height: 45px;
    padding-top: 10px;
    background-color: #1e90ff;

}
body {
    background-image: url("images/g.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: large;

}
.rana
{
   /* text-decoration: underline;*/
    padding-left: 35%;
}
.f_size
{
    font-size: 20px;
    color: dodgerblue;
}
.f_size1
{
    font-size: 50px;
}
.wide
{
    width: 25px;
}

.fa-google
{
    background: #dd4b39;
    color: white;
}
.fa-facebook
{
    background: #3B5998;
    color: white;
}

.grid_container
{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 120px 120px 120px;
}

#day,#yr,#mon
{
    width:110px;
}
#c_code,#code
{
    width:80px;
}
#pnum
{
    width: 150px;
}
td
{
    font-family: 'Roboto';
}

.container
{
    padding-top: 20px;
    font-family: 'Roboto';
    font-size: 20px;
    display: block;
    background: #FFF;
}
input
{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}
input:focus
{
    outline:none;
}
